@charset "UTF-8";

*{
	font-family: Apple SD Gothic Neo,Noto Sans KR,sans-serif;
}

.main_section{
	display: flex;
	flex-direction: column;
}

.nav-text{
	color: white;
	
	
	margin:0;
}

.cus_nickname{
	margin-top: 10px;
}

.box1{
	display: flex;
	flex-direction: row;
}

.recomannedStroeBox{
	
	overflow: hidden;
}

.recomannedStroe{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	transition-duration: 1500ms;
}