@charset "UTF-8";

#body {
	margin-top: 5%;
}

#label {
	font-weight: bold;
}

.table {
	text-align: center;
}

.table td {
	vertical-align : middle !important; 
}

#menuForm {
	text-align: center;
}

.row {
	justify-content: center;
}

.resBtn {
	color: gray;
}

#REQ_STATE_2 {
	color: green;
	width: 40px;
}

#REQ_STATE_1 {
	color: red;
	width: 40px;
}

#REQ_STATE_0 {
	color: orange;
	width: 40px;
}

#store {
	color: gray;
}

#modal_store_name {
	text-decoration: underline;
}

#myBtn {
	color: #111111; 
	background-color: white; 
	border-color: #111111;
}

#exBtn {
	color: gray;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

/* 예약내역 모달 */
#res-modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 0px 20px 30px 20px;
	border: 1px solid #888;
	width: 30%;
}

#res-modal-body {
	padding: 20px 10px 20px 0px;
}

#res-modal-footer {
	padding-top: 20px;
	justify-content: unset;
}

.res-close {
	color: orange;
  	float: right;
  	font-size: 50px;
  	font-weight: bold;
  	border-color: #ffffff;
  	background-color: #ffffff;
  	border-style: none;
}

.res-close:hover,
.res-close:focus {
	color: gray;
	text-decoration: none;
	cursor: pointer;
}

.res_num {
	border-left: 10px solid #FFF2A6;
	color: orange;
}

#res_hr {
	color: gray;
	margin-bottom: 20px;
}

#menu_hr {
	border:2px dashed;
}

#modal_req_state {
	float: left;
}

#resOk_div {
	float: right;
}

/* 계정삭제 모달 */
#quit-modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 10px 20px 30px 20px;
	border: 1px solid #888;
	width: 30%;
}

#quit-modal-body {
	padding: 20px 10px 20px 0px;
}

#quit-modal-footer {
	padding-top: 20px;
	align-content: right;
}

#close {
	color: red;
	float: right;
	font-size: 50px;
	font-weight: bold;
	border-color: red;
}

#close:hover,
#close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
