<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVCProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
   <servlet-mapping>
  	<servlet-name>UserController</servlet-name>
  	<url-pattern>*.me</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserController</servlet-name>
  	<servlet-class>com.diningday.controller.UserController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LocationController</servlet-name>
  	<url-pattern>*.lo</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LocationController</servlet-name>
  	<servlet-class>com.diningday.controller.LocationController</servlet-class>
  </servlet>

   <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>*.cu</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CustomerController</servlet-name>
  	<servlet-class>com.diningday.controller.CustomerController</servlet-class>
  </servlet>
  
   <servlet-mapping>
  	<servlet-name>OwnerController</servlet-name>
  	<url-pattern>*.ow</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>OwnerController</servlet-name>
  	<servlet-class>com.diningday.controller.OwnerController</servlet-class>
  </servlet>

   <servlet-mapping>
  	<servlet-name>ExCustomerController</servlet-name>
  	<url-pattern>*.ex</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ExCustomerController</servlet-name>
  	<servlet-class>com.diningday.controller.ExCustomerController</servlet-class>
  </servlet>
  
  <!-- 12/26 mainController 생성 -->
  <servlet-mapping>
  	<servlet-name>MainController</servlet-name>
  	<url-pattern>*.ma</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MainController</servlet-name>
  	<servlet-class>com.diningday.controller.MainController</servlet-class>
  </servlet>

	<!-- Admin -->
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>*.ad</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>com.diningday.controller.AdminController</servlet-class>
	</servlet>
	
	<!-- 12/28 ReportController 생성 -->
	<servlet-mapping>
		<servlet-name>ReportController</servlet-name>
		<url-pattern>*.re</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReportController</servlet-name>
		<servlet-class>com.diningday.controller.ReportController</servlet-class>
	</servlet>
	
</web-app>  