@charset "UTF-8";

*{
	font-family: Apple SD Gothic Neo,Noto Sans KR,sans-serif;
}
body{
	background-color: white !important;
}


.mainContainer{
	width: 1200px;
	
	display: flex;
	flex-direction: row;
    justify-content: center;
}

.paddingBox{
	height: 500px;
	width: 90%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.textStyle1{
	font-size: 30px;
	font-weight: 700;
}

.infoBox{	
	width: 37%;
	border: 1px solid rgb(184, 184, 184);
	box-shadow: 1px 1px 3px #d8d8d8;
	border-radius: 15px;
	padding: 20px 10px;
	
	margin-bottom: 10px;
	
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.infoBoxStyle1{
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.infoTit{
	margin-left: 30px;
	
	font-size: 15px;
	color: #b7aeb1;
	font-weight: 600;
}

.infocnt{
	margin-left: 50px;
	font-size: 15px;
}

.goMypage{
	padding: 10px 50px;
	
	background-color: #9ced92;
	font-size: 20px;
	font-weight: 600;
	color: white;
}

.goMypage:hover{
	background-color:#6AEB8A;
	color: white;
}

.goMain{
	padding: 10px 35px;
	
	background-color:#f0f0f3;
	font-size: 20px;
	font-weight: 600;
}

.goMain:hover{
	background-color:#E8E8EB;
}




